
.vs/Backend Hiring Task/v15/ipch/AutoPCH/a7a4f8eedbd7af61/MAIN.ipch
.vs/Backend Hiring Task/v15/ipch/AutoPCH/14a0e2c441c4a751/MAIN.ipch
.vs/Backend Hiring Task/v15/Browse.VC.opendb
.vs/Backend Hiring Task/v15/Browse.VC.db
.vs/Backend Hiring Task/v15/.suo
